Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data organized in such a way that it can be easily accessed, managed, and updated. It can store various types of data, including text, numbers, images, and more. Databases are commonly used in applications to store and retrieve information efficiently.

### SQL (Structured Query Language) Databases:

1. **Structured Data:**
   - SQL databases store data in tables with a fixed schema. Each table consists of rows and columns, where each row represents a record and each column represents a field.

2. **Relational Model:**
   - SQL databases use a relational model, where data is organized into tables, and relationships between tables are established using keys (e.g., primary keys and foreign keys).

3. **ACID Transactions:**
   - SQL databases support ACID (Atomicity, Consistency, Isolation, Durability) transactions, ensuring that database transactions are processed reliably and securely.

4. **Examples:**
   - Examples of SQL databases include MySQL, PostgreSQL, SQLite, Oracle, and SQL Server.

### NoSQL (Not Only SQL) Databases:

1. **Schema-less or Dynamic Schema:**
   - NoSQL databases do not require a fixed schema and can handle unstructured or semi-structured data. They allow for flexibility in data representation.

2. **Document, Key-Value, Graph, or Columnar Models:**
   - NoSQL databases can use various models such as document-based, key-value, graph-based, or columnar-based. Each model is optimized for different types of data and access patterns.

3. **Horizontal Scalability:**
   - NoSQL databases are designed for horizontal scalability, allowing them to handle large volumes of data across distributed clusters of servers.

4. **Eventual Consistency:**
   - NoSQL databases often prioritize availability and partition tolerance over consistency, which means they may provide eventual consistency rather than strict consistency.

5. **Examples:**
   - Examples of NoSQL databases include MongoDB (document-based), Redis (key-value), Neo4j (graph-based), Cassandra (columnar), and Amazon DynamoDB.

### Differences:

- **Data Model:** SQL databases use a fixed schema and a relational model, while NoSQL databases can have a flexible schema and various data models.
  
- **Scaling:** SQL databases are typically vertically scalable, meaning you can increase the capacity of a single server by adding more CPU, RAM, or storage. NoSQL databases are horizontally scalable, allowing you to add more servers to handle increased load.

- **Transactions:** SQL databases support ACID transactions, ensuring data integrity and consistency. NoSQL databases may offer eventual consistency and may not provide full ACID transaction support.

- **Use Cases:** SQL databases are often used for structured data, complex queries, and transactions. NoSQL databases are suitable for handling large volumes of unstructured or semi-structured data, real-time data, and distributed systems.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of database objects such as tables, indexes, and constraints. DDL statements are used to create, alter, and drop these objects.

Here's an explanation of some common DDL statements:

1. **CREATE:**
   - The `CREATE` statement is used to create new database objects such as tables, indexes, views, or procedures.
   - Example: Creating a new table named `employees` with columns `id`, `name`, and `salary`:
     ```sql
     CREATE TABLE employees (
         id INT PRIMARY KEY,
         name VARCHAR(50),
         salary DECIMAL(10, 2)
     );
     ```

2. **DROP:**
   - The `DROP` statement is used to delete existing database objects such as tables, indexes, or views.
   - Example: Dropping the `employees` table:
     ```sql
     DROP TABLE employees;
     ```

3. **ALTER:**
   - The `ALTER` statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns in a table.
   - Example: Adding a new column `department` to the `employees` table:
     ```sql
     ALTER TABLE employees
     ADD COLUMN department VARCHAR(50);
     ```

4. **TRUNCATE:**
   - The `TRUNCATE` statement is used to remove all data from a table while keeping the table structure intact.
   - Unlike `DELETE`, `TRUNCATE` is a DDL statement and cannot be rolled back.
   - Example: Truncating the `employees` table:
     ```sql
     TRUNCATE TABLE employees;
     ```

These DDL statements are essential for managing the structure and schema of a database. `CREATE` is used to define new objects, `DROP` is used to remove objects, `ALTER` is used to modify objects, and `TRUNCATE` is used to remove all data from a table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data stored in the database. DML statements are used to insert, update, delete, and retrieve data from tables.

Here's an explanation of some common DML statements:

1. **INSERT:**
   - The `INSERT` statement is used to add new records (rows) into a table.
   - Example: Inserting a new record into the `employees` table:
     ```sql
     INSERT INTO employees (id, name, salary)
     VALUES (1, 'John Doe', 50000);
     ```

2. **UPDATE:**
   - The `UPDATE` statement is used to modify existing records in a table.
   - Example: Updating the salary of a specific employee in the `employees` table:
     ```sql
     UPDATE employees
     SET salary = 55000
     WHERE id = 1;
     ```

3. **DELETE:**
   - The `DELETE` statement is used to remove existing records from a table.
   - Example: Deleting a specific employee from the `employees` table:
     ```sql
     DELETE FROM employees
     WHERE id = 1;
     ```

These DML statements are essential for manipulating the data stored in tables within a database. `INSERT` is used to add new records, `UPDATE` is used to modify existing records, and `DELETE` is used to remove records. These operations allow for the management and maintenance of data within a database.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are primarily focused on querying data from tables.

### SELECT Statement:

The `SELECT` statement is the most commonly used DQL statement, and it is used to retrieve data from one or more tables in a database.

**Syntax:**
```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

- `column1`, `column2`, ...: Columns to be retrieved from the table.
- `table_name`: The name of the table from which data is retrieved.
- `WHERE condition`: Optional condition to filter the rows to be retrieved.

**Example:**
Suppose we have a table named `employees` with columns `id`, `name`, and `salary`. We can use the `SELECT` statement to retrieve data from this table:

```sql
SELECT id, name, salary
FROM employees
WHERE salary > 50000;
```

This query retrieves the `id`, `name`, and `salary` columns from the `employees` table where the `salary` is greater than 50000.

**Example Output:**
```
| id |   name   | salary |
|----|----------|--------|
|  2 | Alice    | 60000  |
|  3 | Bob      | 55000  |
|  4 | Charlie  | 70000  |
```

This result shows the employees whose salary is greater than 50000.

The `SELECT` statement is very versatile and can be extended with various clauses such as `ORDER BY`, `GROUP BY`, `JOIN`, and more to perform complex queries and retrieve specific data from databases.

Q5. Explain Primary Key and Foreign Key.

**Primary Key:**

A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table. The primary key constraint ensures that the values in the primary key columns are unique and not null. It provides a way to uniquely identify each record in a table, allowing for efficient retrieval and manipulation of data.

- **Uniqueness:** Each value in a primary key column must be unique within the table.
- **Non-null:** A primary key value cannot be null; it must have a value for every row.
- **Indexed:** By default, a primary key is indexed, which helps in fast retrieval of data.

**Example:**

Consider a table named `students` with columns `student_id`, `name`, and `age`. Here, `student_id` can be the primary key, ensuring that each student has a unique identifier:

```sql
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
```

**Foreign Key:**

A foreign key is a column or a set of columns in a table that establishes a link or relationship between two tables. It enforces referential integrity by ensuring that the values in the foreign key columns match the values in the primary key or unique key columns of another table.

- **Referential Integrity:** The foreign key ensures that the values in the child table (referencing table) exist in the parent table (referenced table).
- **Cascading Actions:** Foreign key constraints can specify actions to be taken when a referenced row is modified or deleted, such as cascading deletes or updates.

**Example:**

Suppose we have two tables, `students` and `courses`, where each student can enroll in multiple courses. We can use a foreign key to establish a relationship between these tables.

```sql
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50)
);

CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(50)
);

CREATE TABLE enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);
```

In this example, the `enrollments` table has foreign keys `student_id` and `course_id`, referencing the `students` and `courses` tables respectively. This ensures that each enrollment corresponds to existing students and courses in their respective tables, maintaining referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the `mysql-connector-python` library, which provides an interface for connecting to MySQL databases. First, you need to install the library using pip:

```
pip install mysql-connector-python
```

Here's a Python code to connect to a MySQL database, create a cursor, and execute a SQL query:

```python
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create cursor
cursor = conn.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM your_table")

# Fetch results
results = cursor.fetchall()

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()
```

Explanation:

- `mysql.connector.connect()`: This function establishes a connection to the MySQL database. You need to provide the host, user, password, and database parameters to connect.

- `cursor()`: This method creates a cursor object that allows you to execute SQL queries on the database.

- `execute()`: This method of the cursor object is used to execute SQL queries. You pass the SQL query as a parameter to this method.

- `fetchall()`: This method retrieves all the rows of the query result. It returns a list of tuples, where each tuple represents a row in the result set.

- `close()`: After executing the query and fetching the results, you should close the cursor and the connection to the database to free up resources.

In the code above, you need to replace `"localhost"`, `"your_username"`, `"your_password"`, `"your_database"`, and `"your_table"` with your MySQL server details and the appropriate database and table names.

Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in a SQL query generally follows these steps:

1. **FROM:**
   - Specifies the tables from which to retrieve data.
   - If multiple tables are involved (in a join), the tables are joined first.

2. **WHERE:**
   - Filters rows based on specified conditions.
   - Only rows that meet the specified conditions are included in the result set.

3. **GROUP BY:**
   - Groups the result set by one or more columns.
   - This clause is used with aggregate functions like SUM, COUNT, AVG, etc.
   - Rows with the same values in the grouped columns are combined into summary rows.

4. **HAVING:**
   - Filters groups based on specified conditions.
   - Similar to the WHERE clause, but operates on grouped rows rather than individual rows.

5. **SELECT:**
   - Specifies the columns to include in the result set.
   - Aggregates (if used) are calculated at this stage.
   - Expressions and aliases defined in the SELECT clause can be used here.

6. **DISTINCT:**
   - Removes duplicate rows from the result set.

7. **ORDER BY:**
   - Sorts the result set based on specified columns.
   - This is the last operation before the result set is returned.

8. **LIMIT / OFFSET:**
   - Used for pagination, limiting the number of rows returned and optionally skipping a certain number of rows.

However, it's important to note that not all SQL queries include all of these clauses, and some clauses can be omitted depending on the specific requirements of the query. Additionally, some databases might optimize query execution differently, so the actual execution order might vary slightly.